<article class="live-panel">
  <h3>Лента событий</h3>

  <div class="timeline">
    <div class="event fresh">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>

    <div class="event">
      <time class="when" datetime="14:35">14:35</time>
      <span class="mark"></span>
      <p class="event-note">Агент запросил бонус за подписание <strong>€2M.</strong></p>
    </div>
  </div>
</article>
