<section class="transfer-center-page">
  <app-game-header
    day="Понедельник · 10 августа"
    pageTitle="Трансферный центр"
    wageBudget="€118ТЫС"
    transferBudget="€118M"
    timeLeft="05:47:09"
  />

  <div class="top-table">
    @if (gameStore.selectedPlayer(); as player) {
      @if (gameStore.selectedDeal(); as deal) {
        <app-active-deal-card [player]="player" [deal]="deal" />
        <app-player-photo [player]="player" />
        <app-scout-radar [playerName]="player.name" [stats]="player.stats" />
      }
    }
  </div>
  <div class="low-table">
    <app-transfer-board
      [deals]="gameStore.activeDeals()"
      [players]="gameStore.state().players"
      [clubs]="gameStore.state().clubs"
      (dealSelected)="gameStore.selectDeal($event)"
    />
    <app-event-feed></app-event-feed>
  </div>
</section>
