<article class="player-card">
  <div class="player-stack">
    <header class="panel-title">
      <p>Параметры игрока</p>
      <h2>Выбранный игрок</h2>
    </header>

    <section class="player-identity">
      <div class="identity-row">
        <img class="player-photo" [src]="player().photoUrl" alt="Tino Livramento" />

        <div class="identity-main">
          <div class="identity-copy">
            <strong>{{ player().name }}</strong>
            <small>{{ player().position }} · {{ player().club }}</small>
          </div>

          <img class="club-logo" src="assets/clubs/newcastle.png" alt="Newcastle United" />
        </div>
      </div>

      <div class="tag-row">
        <span>{{player().traits[0]}}</span>
        <span>Сложные переговоры</span>
      </div>
    </section>

    <div class="player-metrics">
      <div class="metric">
        <small>Оценка стоимости</small>
        <strong>€{{ player().estimatedValue / 1000000 }}M</strong>
      </div>

      <div class="metric">
        <small>Зарплата в клубе</small>
        <strong>€{{ player().currentWeeklyWage / 1000 }} тыс</strong>
      </div>

      <div class="metric">
        <small>Контракт</small>
        <strong>{{ player().contractYearsLeft }} лет</strong>
      </div>

      <div class="metric">
        <small>Возраст</small>
        <strong>{{ player().age }} лет</strong>
      </div>
    </div>
  </div>

  <button class="primary-button" type="button" (click)="">Начать переговоры</button>
</article>
