:host {
  display: block;
  height: 100%;
}

.app-framework {
  display: grid;
  grid-template-columns: 226px minmax(0, 1fr);
  height: 100%;
  background: var(--color-page-background);
}

.workspace {
  min-width: 0;
  padding: 32px;
  padding-top: 37px;
}
.app-framework {
  width: 1440px;
  min-width: 1440px;
  height: 900px;
  margin: 0 auto;
}
.main {
  width: 1214px;
  flex: 0 0 1214px;
  padding: 37px 32px 54px;
}