:host {
  display: block;
  min-height: 100dvh;
}

.app-framework {
  width: 100%;
  min-width: 0;
  min-height: 100dvh;

  background: var(--color-page-background);
}

.workspace {
  width: calc(100% - 243px);
  min-width: 0;
  min-height: 100dvh;
  margin-left: 243px;
  padding: 40px 32px 54px;
}

@media (max-width: 1179px) {
  .workspace {
    width: calc(100% - 192px);
    margin-left: 192px;
    padding: 28px 24px 40px;
  }
}
