<article class="deal-card">
  <div class="deal-info">
    <header class="player-head">
      <h2>
        {{ player().name.split(' ')[0] }}
        <span>{{ player().name.split(' ').slice(1).join(' ') }}</span>
      </h2>

      <div class="player-meta">
        <p>{{ player().position }}</p>

        <div class="deal-stats">
          <div class="stat">
            <small>ВОЗРАСТ</small>
            <strong>{{ player().age }} лет</strong>
          </div>

          <div class="stat">
            <small>ЦЕНА</small>
            <strong>€{{ player().estimatedValue / 1000000 }}M</strong>
          </div>

          <div class="stat">
            <small>ЗАРПЛАТА</small>
            <strong>€{{ player().currentWeeklyWage / 1000 }}тыс</strong>
          </div>

          <div class="stat">
            <small>КОНТРАКТ</small>
            <strong>{{ player().contractYearsLeft }} лет</strong>
          </div>
        </div>
        @if (visibleTraits().length > 0) {
          <div class="tags">
            @for (trait of visibleTraits(); track trait) {
              <span>{{ playerTraitLabel[trait] }}</span>
            }
          </div>
        }
      </div>
    </header>

    <div class="club-route">
      <div class="club">
        <img class="club-logo" [src]="clubUrl()" alt="Lille OSC" />

        <div class="club-text">
          <small>ТЕКУЩИЙ КЛУБ</small>
          <strong>{{ player().club }}</strong>
        </div>
      </div>

      <div class="route-arrow">
        <span>→ →</span>
        <small>ПЕРЕХОД</small>
      </div>

      <div class="club">
        <img class="club-logo" src="assets/clubs/manchester-city.png" alt="Manchester City" />

        <div class="club-text">
          <small>ЦЕЛЬ</small>
          <strong>Manchester City</strong>
        </div>
      </div>
    </div>

    <div class="deal-offer">
      <small>ПРЕДЛОЖЕНИЕ</small>

      <div>
        <span>КЛУБУ</span>
        <strong>
          {{ deal().transferFee === null ? '—' : '€' + deal().transferFee! / 1000000 + 'M' }}
        </strong>
      </div>

      <div>
        <span>ИГРОКУ</span>
        <strong>
          {{ deal().weeklyWage === null ? '—' : '€' + deal().weeklyWage! / 1000 + 'тыс' }}
        </strong>
      </div>
    </div>

    <div class="deal-buttons">
      <button class="main-btn" type="button" (click)="offerRequested.emit(deal().id)">
        Сделать предложение
      </button>

      <button class="cancel-btn" type="button">Отказаться от сделки</button>
    </div>
  </div>
</article>
